body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.button-as-link {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    opacity: 0.6;
}

.button-as-link:hover {
    opacity: 1;
}

table tr td:nth-child(3) {
    width: 5ch;
}